@model IEnumerable<GestionHospitalisation.Models.Compte>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" asp-controller="Patients">Create New Patient</a><br />
    <a asp-action="Create" asp-controller="Services">Create New Service</a><br />
	<a asp-action="Create" asp-controller="Hospitalisations">Create New Hospitalisations</a><br />
</p>


