@model IEnumerable<GestionHospitalisation.Models.Compte>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Index" asp-controller="Patients">Manage Patients</a><br />
    <a asp-action="Index" asp-controller="Services">Manage Services</a><br />
	<a asp-action="Index" asp-controller="Hospitalisations">Manage Hospitalisations</a><br />
    <a asp-action="Statistiques" asp-controller="Admin">See Statistics</a>
</p>


