@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Index" asp-controller="Patients">Consult Patients</a>
    <a asp-action="Index" asp-controller="Services">Consult Patients</a>
	<a asp-action="Index" asp-controller="Hospitalisations">Consult Hospitalisations</a>
</p>
