@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="ListePatients" asp-controller="User">Consult Patients</a>
    <a asp-action="ListeServices" asp-controller="User">Consult Services</a>
	<a asp-action="ListeHospitalisations" asp-controller="User">Consult Hospitalisations</a>
</p>
