@model IEnumerable<GestionHospitalisation.Models.Service>

@{
    ViewData["Title"] = "Liste des services";
}

<h1>Liste des Services</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LibServ)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LibServ)
                </td>
            </tr>
        }
    </tbody>
</table>
